@import "tailwindcss";

@theme {
  --color-primary-50: #fef3e2;
  --color-primary-100: #fde7c5;
  --color-primary-200: #fbcf8b;
  --color-primary-300: #f9b751;
  --color-primary-400: #f79f17;
  --color-primary-500: #f58b00;
  --color-primary-600: #c46f00;
  --color-primary-700: #935300;
  --color-primary-800: #623700;
  --color-primary-900: #311b00;

  --color-secondary-50: #e6f9f0;
  --color-secondary-100: #ccf3e1;
  --color-secondary-200: #99e7c3;
  --color-secondary-300: #66dba5;
  --color-secondary-400: #33cf87;
  --color-secondary-500: #00c369;
  --color-secondary-600: #009c54;
  --color-secondary-700: #00753f;
  --color-secondary-800: #004e2a;
  --color-secondary-900: #002715;
}
